* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 5px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  border: 0;
  outline: 0;

  &:focus {
    border: none;
    outline: none;
    box-shadow: 0px 0px 0px;
  }
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

input,
textarea {
  width: 100%;
  border: none;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
