.ic-font-size-12{
    font-size: 12px!important;
}
.ic-img-32 {
    width: 32px !important;
    height: 32px !important;
}
.toast {
    opacity: 1 !important;
}
.error {
    font-size: 12px;
}
.select2-container {
    width: 100% !important;
}

.input_bellow_text {
    font-size: 12px;
}

.btn-group.dropleft .dropdown-toggle::before {
    border: none !important;
}

.dropdown-menu.show {
    inset: 0px auto auto -156px !important;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.home-image{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


