.banner-slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
  @media #{$max767} {
    margin-bottom: 0px !important;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .banner-slider__single-item {
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      transition: transform 30s linear;
    }

    &__content {
      position: absolute;
      margin: auto;
      left: 15px;
      right: 15px;
      bottom: 135px;
      z-index: 25;
      //border: 1px solid #FFF;
      height: auto;
      align-items: center;
      display: flex;
      justify-content: center;
      top: 90px;
      overflow: hidden;

      &:before {
        box-sizing: border-box;
        transform: translateX(100%);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99.5%;
        height: 2px;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        // transition: 0.3s transform linear, 0.3s height linear 0.3s;
      }

      &:after {
        box-sizing: border-box;
        transform: translateX(-100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5%;
        height: 2px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        // transition: 0.2s transform linear 0.6s, 0.2s height linear 0.8s;
      }

      &__inner {
        width: 100%;
        text-align: center;

        h4 {
          font-size: 32px;
          line-height: 32px;
          margin: 0;
          color: rgba(255, 255, 255, 0.85);
          font-weight: 200;
          opacity: 0;
          transform: translateY(30px);
          transition: all 0.6s ease;
        }

        h2 {
          font-size: 72px;
          font-weight: bold;
          line-height: 48px;
          color: rgba(255, 255, 255, 0.65);
          margin: 0;
          opacity: 0;
          transform: translateY(30px);
          transition: all 0.6s ease;
          margin-top: 15px;
        }
      }
    }
  }

  .slick-current {
    .banner-slider__single-item__content {
      &:before {
        transition: 0.3s transform linear, 0.3s height linear 0.3s;
        transform: translateX(0);
        height: 100%;
        //border-color: rgba(65,168,67,0.80);
        border-color: rgba(255, 255, 255, 0.8);
      }

      &:after {
        transition: 0.2s transform linear 0.6s, 0.2s height linear 0.8s;
        transform: translateX(0);
        height: 100%;
        //border-color: rgba(65,168,67,0.80);
        border-color: rgba(255, 255, 255, 0.8);
      }
    }

    h2,
    h4 {
      transform: none;
      opacity: 1;
    }

    h4 {
      &:nth-of-type(1) {
        transition-delay: 0.3s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.6s;
      }
    }

    h2 {
      transition-delay: 0.9s;
    }

    &.banner-slider__single-item {
      &:nth-of-type(even) {
        .banner-slider__single-item__bg {
          transform: scale(1.5);
        }
      }

      &:nth-of-type(odd) {
        .banner-slider__single-item__bg {
          transform: scale(1.5);
        }
      }
    }
  }

  .slick-dots {
    bottom: 30px;
    li {
      margin: 0 6px;
      button {
        height: 16px;
        width: 16px;
        background-color: transparent;
        border-radius: 50%;
        position: relative;

        &:before {
          font-size: 0;
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: 1px solid #fff;
          opacity: 0;
          border-radius: 50%;
        }
        &:after {
          content: "";
          position: absolute;
          font-size: 0;
          height: 6px;
          width: 6px;
          background-color: #fff;
          opacity: 1;
          border-radius: 50%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .banner-slider__single-item__content {
      bottom: 100px;
      top: 120px;

      &__inner {
        width: calc(100% - 60px);

        h4 {
          font-size: 20px;
          line-height: 25px;
        }

        h2 {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }

    .banner-social__inner ul {
      left: 22px;

      li {
        &:nth-of-type(2) {
          width: 25px;
        }

        a {
          font-size: 12px;
        }
      }
    }
  }

  .banner-social {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    &__inner {
      position: absolute;
      margin: auto;
      display: flex;
      align-items: center;
      height: 100%;

      ul {
        transform-origin: left bottom;
        position: absolute;
        left: 28px;
        //transform: rotate(-90deg) translateX(-80px);
        display: inline-flex;
        //justify-content: center;
        align-items: center;
        transform: rotate(-90deg) translateX(-80px);

        li {
          a {
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
          }

          &:nth-of-type(2) {
            width: 35px;
            height: 2px;
            background-color: #ffffff;
            margin-right: 15px;
            margin-left: 15px;
            margin-top: 4px;
          }
        }
      }
    }
  }
}
